{% extends 'base.html.twig' %}

{% block title %}RecipeIngredient{% endblock %}

{% block body %}
    <h1>RecipeIngredient</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ recipe_ingredient.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ recipe_ingredient.ingredient.name }}</td>
            </tr>
            <tr>
                <th>Unit</th>
                <td>{{ recipe_ingredient.unit }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ recipe_ingredient.quantity }}</td>
            </tr>
            <tr>
                <th>Recipe</th>
                <td>{{ recipe_ingredient.recipe.title }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_back_recipe_ingredient_index') }}" class="btn btn-info mt-1">Back to list</a>

    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_back_recipe_ingredient_edit', {'id': recipe_ingredient.id}) }}" class="btn btn-warning mt-1">Edit</a>

    {{ include('back/recipe_ingredient/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
